Build started...
Build succeeded.
info: Microsoft.EntityFrameworkCore.Infrastructure[10403]
      Entity Framework Core 6.0.10 initialized 'DBPetGuardians' using provider 'Microsoft.EntityFrameworkCore.SqlServer:6.0.10' with options: None
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
GO

CREATE TABLE [Persons] (
    [Id] int NOT NULL IDENTITY,
    [Name] nvarchar(60) NOT NULL,
    [CPF] nvarchar(14) NOT NULL,
    [Birthday] datetime2 NOT NULL,
    CONSTRAINT [PK_Persons] PRIMARY KEY ([Id])
);
GO

CREATE TABLE [Address] (
    [Id] int NOT NULL IDENTITY,
    [CEP] nvarchar(8) NOT NULL,
    [UF] nvarchar(2) NOT NULL,
    [City] nvarchar(max) NOT NULL,
    [Street] nvarchar(max) NOT NULL,
    [Number] nvarchar(max) NOT NULL,
    [District] nvarchar(max) NOT NULL,
    [Complement] nvarchar(max) NOT NULL,
    [PersonId] int NOT NULL,
    CONSTRAINT [PK_Address] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Address_Persons_PersonId] FOREIGN KEY ([PersonId]) REFERENCES [Persons] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [Users] (
    [Id] int NOT NULL,
    [Email] nvarchar(max) NOT NULL,
    [Password] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_Users] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Users_Persons_Id] FOREIGN KEY ([Id]) REFERENCES [Persons] ([Id])
);
GO

CREATE TABLE [Shelters] (
    [Id] int NOT NULL,
    [CorporateName] nvarchar(60) NOT NULL,
    [CNPJ] nvarchar(21) NOT NULL,
    CONSTRAINT [PK_Shelters] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Shelters_Users_Id] FOREIGN KEY ([Id]) REFERENCES [Users] ([Id])
);
GO

CREATE INDEX [IX_Address_PersonId] ON [Address] ([PersonId]);
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20221111012300_Criacao do banco', N'6.0.10');
GO

COMMIT;
GO

BEGIN TRANSACTION;
GO

ALTER TABLE [Address] DROP CONSTRAINT [FK_Address_Persons_PersonId];
GO

ALTER TABLE [Address] DROP CONSTRAINT [PK_Address];
GO

EXEC sp_rename N'[Address]', N'Addresses';
GO

EXEC sp_rename N'[Addresses].[IX_Address_PersonId]', N'IX_Addresses_PersonId', N'INDEX';
GO

DECLARE @var0 sysname;
SELECT @var0 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Shelters]') AND [c].[name] = N'CNPJ');
IF @var0 IS NOT NULL EXEC(N'ALTER TABLE [Shelters] DROP CONSTRAINT [' + @var0 + '];');
ALTER TABLE [Shelters] ALTER COLUMN [CNPJ] nvarchar(14) NOT NULL;
GO

DECLARE @var1 sysname;
SELECT @var1 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Persons]') AND [c].[name] = N'CPF');
IF @var1 IS NOT NULL EXEC(N'ALTER TABLE [Persons] DROP CONSTRAINT [' + @var1 + '];');
ALTER TABLE [Persons] ALTER COLUMN [CPF] nvarchar(11) NOT NULL;
GO

ALTER TABLE [Addresses] ADD CONSTRAINT [PK_Addresses] PRIMARY KEY ([Id]);
GO

ALTER TABLE [Addresses] ADD CONSTRAINT [FK_Addresses_Persons_PersonId] FOREIGN KEY ([PersonId]) REFERENCES [Persons] ([Id]) ON DELETE CASCADE;
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20221117002620_Relacao de endereco', N'6.0.10');
GO

COMMIT;
GO

BEGIN TRANSACTION;
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20221118003100_endereco', N'6.0.10');
GO

COMMIT;
GO

BEGIN TRANSACTION;
GO

ALTER TABLE [Addresses] DROP CONSTRAINT [FK_Addresses_Persons_PersonId];
GO

ALTER TABLE [Addresses] DROP CONSTRAINT [PK_Addresses];
GO

EXEC sp_rename N'[Addresses]', N'Address';
GO

EXEC sp_rename N'[Address].[IX_Addresses_PersonId]', N'IX_Address_PersonId', N'INDEX';
GO

ALTER TABLE [Address] ADD CONSTRAINT [PK_Address] PRIMARY KEY ([Id]);
GO

ALTER TABLE [Address] ADD CONSTRAINT [FK_Address_Persons_PersonId] FOREIGN KEY ([PersonId]) REFERENCES [Persons] ([Id]) ON DELETE CASCADE;
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

DROP TABLE [Address];
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

ALTER TABLE [Persons] ADD [CEP] nvarchar(8) NOT NULL DEFAULT N'';
GO

ALTER TABLE [Persons] ADD [City] nvarchar(max) NOT NULL DEFAULT N'';
GO

ALTER TABLE [Persons] ADD [Complement] nvarchar(max) NOT NULL DEFAULT N'';
GO

ALTER TABLE [Persons] ADD [District] nvarchar(max) NOT NULL DEFAULT N'';
GO

ALTER TABLE [Persons] ADD [Number] nvarchar(max) NOT NULL DEFAULT N'';
GO

ALTER TABLE [Persons] ADD [Street] nvarchar(max) NOT NULL DEFAULT N'';
GO

ALTER TABLE [Persons] ADD [UF] nvarchar(2) NOT NULL DEFAULT N'';
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

DECLARE @var2 sysname;
SELECT @var2 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Shelters]') AND [c].[name] = N'CorporateName');
IF @var2 IS NOT NULL EXEC(N'ALTER TABLE [Shelters] DROP CONSTRAINT [' + @var2 + '];');
ALTER TABLE [Shelters] ALTER COLUMN [CorporateName] nvarchar(60) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL;
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

DECLARE @var3 sysname;
SELECT @var3 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Shelters]') AND [c].[name] = N'CorporateName');
IF @var3 IS NOT NULL EXEC(N'ALTER TABLE [Shelters] DROP CONSTRAINT [' + @var3 + '];');
ALTER TABLE [Shelters] ALTER COLUMN [CorporateName] nvarchar(60) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL;
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

DECLARE @var4 sysname;
SELECT @var4 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Persons]') AND [c].[name] = N'UF');
IF @var4 IS NOT NULL EXEC(N'ALTER TABLE [Persons] DROP CONSTRAINT [' + @var4 + '];');
ALTER TABLE [Persons] ALTER COLUMN [UF] nvarchar(2) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL;
GO

DECLARE @var5 sysname;
SELECT @var5 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Persons]') AND [c].[name] = N'City');
IF @var5 IS NOT NULL EXEC(N'ALTER TABLE [Persons] DROP CONSTRAINT [' + @var5 + '];');
ALTER TABLE [Persons] ALTER COLUMN [City] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL;
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

ALTER TABLE [Shelters] ADD [Slug] nvarchar(450) NULL;
GO

CREATE UNIQUE INDEX [IX_Shelters_CNPJ] ON [Shelters] ([CNPJ]) WHERE [CNPJ] IS NOT NULL;
GO

CREATE UNIQUE INDEX [IX_Shelters_Slug] ON [Shelters] ([Slug]) WHERE [Slug] IS NOT NULL;
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

EXEC sp_rename N'[Persons].[Number]', N'StreetNumber', N'COLUMN';
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

DROP INDEX [IX_Shelters_Slug] ON [Shelters];
GO

DECLARE @var6 sysname;
SELECT @var6 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Shelters]') AND [c].[name] = N'Slug');
IF @var6 IS NOT NULL EXEC(N'ALTER TABLE [Shelters] DROP CONSTRAINT [' + @var6 + '];');
ALTER TABLE [Shelters] DROP COLUMN [Slug];
GO

ALTER TABLE [Shelters] ADD [About] nvarchar(max) NULL;
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

DECLARE @var7 sysname;
SELECT @var7 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Users]') AND [c].[name] = N'Password');
IF @var7 IS NOT NULL EXEC(N'ALTER TABLE [Users] DROP CONSTRAINT [' + @var7 + '];');
ALTER TABLE [Users] DROP COLUMN [Password];
GO

ALTER TABLE [Users] ADD [PasswordHash] varbinary(max) NOT NULL DEFAULT 0x;
GO

ALTER TABLE [Users] ADD [PasswordSalt] varbinary(max) NOT NULL DEFAULT 0x;
GO

ALTER TABLE [Users] ADD [Token] nvarchar(max) NULL;
GO


COMMIT;
GO


