.footer {
  background-color: var(--a1);
  color: var(--w);
  font-family: var(--type-text);
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.gridFooter {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 32px;
}

.logoCopyFooter {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.navFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.navFooter li a {
  color: var(--w);
}

.navSocials {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 16px;
  margin-top: 50px;
}
