.header {
  padding: 48px 0 48px;
  font-family: var(--type-text);
}

.nav,
.navMenu,
.navButtons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navMenu {
  gap: 32px;
}

.navMenu li a {
  color: var(--c9);
  font-weight: 600;
  transition: color 0.5s;
}

.navLink {
  font-size: 30px !important;
}

.navMenu li a:hover {
  color: var(--p4);
}

.navSearch {
  position: relative;
}

.navSearch .buttonSearch {
  position: absolute;
  right: 2px;
  top: 2px;
  outline: 0;
  border: 0;
  border-radius: 8px;
}

.navLogin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.navLogin a {
  color: var(--a3);
  font-weight: 600;
}

.navButton {
  padding: 8px 16px;
  background-color: var(--p2);
  color: var(--w) !important;
  border-radius: 8px;
  transition: background 0.5s;
}

.navButton:hover {
  background-color: var(--p4);
}

.searchInput {
  outline: 0;
  padding: 10px 16px;
  border: 0;
  border-radius: 8px;
  background-color: var(--c2);
  font-weight: 600;
  color: var(--c9);
  width: 100%;
}
