.label,
.textArea {
  font: 400 16px/22px var(--type-text);
  color: var(--c8);
}

.label {
  display: block;
  margin-bottom: 8px;
}

.textArea {
  outline: 0;
  padding: 12px 16px;
  margin-bottom: 16px;
  border: 0;
  border-radius: 8px;
  background-color: var(--c2);
  width: 100%;
  resize: vertical;
}

.textarea-block:focus-within::after {
  width: calc(100% - 3.2rem);
  height: 2px;
  content: '';
  background: var(--p1);
  position: absolute;
  left: 1.6rem;
  right: 1.6rem;
  bottom: 6px;
}
