.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main .introText {
  place-self: center;
  padding-bottom: 40px;
  justify-self: flex-start;
}

.introText h1 {
  font: 700 40px/60px var(--type-title);

  color: var(--c10);
  width: 22ch;
}

.introText p {
  font: 400 16px/24px var(--type-text);

  color: var(--c8);
  width: 42ch;
  margin-top: 16px;
}

.introText .button {
  padding: 16px 16px;
  margin-top: 24px;
  background: linear-gradient(180deg, #ff934c 0%, #f17727 100%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--w);
  border-radius: 8px;
  display: inline-block;

  font: 600 16px/22px var(--type-text);
}

.introImg {
  justify-self: flex-end;
}

.introImg img {
  border-radius: 8px;
}

/* CARDS */

.cardSection {
  margin-top: 120px;
}

.cardSectionHeader {
  text-align: center;
}

.cardSectionHeader h2 {
  font: 700 32px/60px var(--type-title);

  color: var(--c9);
}

.cardSectionHeader p {
  font: 400 20px/30px var(--type-text);

  color: var(--c8);
}

.cardContainer {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

@media (max-width: 464px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

.cards {
  background-color: var(--w);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: center;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.cards h3 {
  font: 700 20px/28px var(--type-title);

  color: var(--c9);
}

.cards p {
  font: 400 16px/21px var(--type-text);

  color: var(--c7);
}

/* CITE IMG SECTION */

.citeSection {
  margin-top: 120px;
}
